* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  height: 400px;
  background-color: yellow;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  height: 100px;
  width: 100px;
  background-color: purple;
  right: 0;
  align-self: center;
  margin-right: 10px;
}
