* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: url("./assets/topography.png");
}

.icon {
  text-align: left;
}

.navbar {
  text-align: right;
  padding: 4px;
  letter-spacing: 0.25rem;
  text-decoration: none;
  background-color: #333333;
  font-size: 1rem;
  line-height: 3;
  font-family: "Courier New", Courier, monospace;
}

.nav-link {
  text-align: right;
  color: #ff0099;
  padding-left: 25px;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  padding-left: 50px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-decoration: inherit;
  text-shadow: initial;
}

h2 {
  font-size: 2rem;
  padding-bottom: 3.5rem;
  color: #ff0099;
  padding-left: 50px;
}

p {
  padding-left: 50px;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}
p::after {
  display: block;
  content: "- - -";
  margin-top: 5rem;
  text-align: center;
}
h3 {
  padding-top: 3rem;
  font-size: 2.5rem;
  font-family: "Goldman", cursive;
  font-weight: 550;
  text-align: center;
}

h4 {
  padding-top: 6rem;
  padding-left: 50px;
  font-size: 20pt;
  font-family: "Goldman", cursive;
}
.footer {
  font-size: 1rem;
  font-weight: 550;
}
