* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(200px, auto);
  gap: 10px;
  background-color: rgb(238, 238, 238);
}
header {
  grid-column: 1/13;
  background-image: url('./img/1219623.jpg');
  grid-row: 1/2;
}
h1 {
  position: relative;
  color: white;
  letter-spacing: 2rem;
  padding-top: 5rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
main {
  grid-column: 3/8;
  grid-row: 2/4;
}
.main-posts {
  width: 100%;
  height: auto;
}
input {
  width: 50%;
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: rgb(184, 171, 171);
  border-radius: 20px;
}
::placeholder {
  color: white;
}

.single-post {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
}
.vote {
  padding: 10px;
  width: 5%;
  text-align: center;
}
.upvoteBtn {
  background-image: url('./img/upvote.png');
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
  text-decoration: none;
  border: none;
}
.downvoteBtn {
  background-image: url('./img/downvote.png');
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
  text-decoration: none;
  border: none;
}
.delete {
  width: 20px;
  height: 20px;
  text-decoration: none;
  border: none;
}
.link {
  width: 80%;
  text-align: left;
}
aside {
  grid-column: 8/11;
  grid-row: 2/4;
  background-color: rgb(184, 171, 171);
}
aside > h3 {
  width: 100%;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
aside > p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button {
  background-color: lightblue;
  width: 150px;
  margin-top: 10px;
  height: 45px;
  border-radius: 20px;
}
.button:hover {
  background-color: darkblue;
  color: white;
}
