* {
  padding: 0;
  margin: 0;
  background-color: rgb(47, 48, 96);
}

.main,
.main2 {
  display: flex;
  padding: 20px;
  gap: 30px;
  width: 70%;
  margin: auto;
  justify-content: center;
}
.main > button,
.main2 > button {
  width: 120px;
  height: 50px;
  border-radius: 5px;
}
.blue {
  background-color: rgb(65, 95, 159);
  color: white;
}
.blue:hover {
  background-color: rgb(82, 121, 206);
}
.green {
  background-color: rgb(24, 163, 81);
  color: white;
}
.green:hover {
  background-color: rgb(32, 209, 77);
}
.red {
  background-color: rgb(212, 67, 51);
  color: white;
}
.red:hover {
  background-color: rgb(245, 78, 60);
}
.light {
  background-color: rgb(1, 172, 238);
  color: white;
}
.light:hover {
  background-color: rgb(23, 136, 180);
}
.black {
  background-color: rgb(40, 41, 43);
  color: grey;
}
.black:hover {
  background-color: rgb(70, 71, 75);
}
.white {
  background-color: rgb(232, 236, 246);
  color: grey;
}
.white:hover {
  background-color: rgb(199, 208, 231);
}
